<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>MyDev</title>

  <link rel="stylesheet" href="css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
  <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>
</head>
<body>

  <header>
    <div class="header__logo">
      <p>
        mycompany
      </p>
    </div>
    <nav>
      <div class="topnav" id="myTopnav">
        <a href="#">HOME</a>
        <a href="#">ABOUT</a>
        <a href="#">SERVICES</a>
        <a href="#">PORTFOLIO</a>
        <a href="#">TESTIMONIALS</a>
        <a href="#">CONTACT</a>
        <a href="#" id="menu" class="icon">&#9776;</a>
      </div>
    </nav>
  </header>
  <main>
    <div class="main__welcome">
      <h1>
        WELCOME ON <span class="mycompany">MYCOMPANY</span>
      </h1>
      <p>We are a <span class="bold__p--text">digital agensy</span> with years of <span class="bold__p--text">experience and with</span> extraordinary people</p>
    </div>

    <div class="wrapper">
      <div class="main__about">
        <div class="about__left">
          <img class="mw-100" src="img/mac.png" alt="WELCOME">
        </div>
        <div class="about__right">
          <h1>LOREM IPSUM <span class="about__right--bold_text">DOLOR SIT</span></h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
          <ul>
            <li><span class="bold__right__li--text">Mission</span> - We deliver uniqueness and quality</li>
            <li><span class="bold__right__li--text">Skills</span> - Delivering fast and excellent results</li>
            <li><span class="bold__right__li--text">Clients</span> - Satisfied clients thanks to our experience</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="main__team">
      <div class="wrapper">
        <h1>OUR TEAM</h1>
        <div class="line"></div>
        <div class="team__cards">
          <div class="card">
            <div class="photo"></div>
            <h4 class="name">Vlad Ivanov</h4>
            <p class="position_in_company">Designer</p>
            <p class="about__position">Do not seek to change what has come before. Seek tocreate
            that which has not.</p>
          </div>
          <div class="card">
            <div class="photo"></div>
            <h4 class="name">Vlad Ivanov</h4>
            <p class="position_in_company">Designer</p>
            <p class="about__position">Do not seek to change what has come before. Seek tocreate
            that which has not.</p>
          </div>
          <div class="card">
            <div class="photo"></div>
            <h4 class="name">Vlad Ivanov</h4>
            <p class="position_in_company">Designer</p>
            <p class="about__position">Do not seek to change what has come before. Seek tocreate
            that which has not.</p>
          </div>
          <div class="card">
            <div class="photo"></div>
            <h4 class="name">Vlad Ivanov</h4>
            <p class="position_in_company">Designer</p>
            <p class="about__position">Do not seek to change what has come before. Seek tocreate
            that which has not.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="main__services">
      <div class="wrapper">
        <h1>OUR <span class="gray__clients-text">SERVICES</span></h1>
        <div class="line"></div>
        <p><i>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
           Doloribus ex quidem maiores ullam quis, at asperiores minus ad eaque maxime possimus
            cum ab iusto assumenda velit excepturi porro ipsa tenetur.Lorem ipsum dolor sit amet,
            consectetur adipisicing elit. Doloribus ex quidem maiores ullam quis, at asperiores minus
            ad eaque maxime possimus cum ab iusto assumenda velit excepturi porro ipsa tenetur.</i></p>
        <div class="services__cards">
          <div class="services__card">
            <div class="services__circle">
              <img src="img/mobile.png" alt="mobile apps">
            </div>
            <h4>MOBILE APPS</h4>
            <p>The first line of Lorem Ipsum,
               "Lorem ipsum dolor sit amet..",
               comes from a line in section 1.10.32.
             </p>

          </div>
          <div class="services__card">
            <div class="services__circle">
              <img src="img/webdesign.png" alt="mobile apps">
            </div>
            <h4>WEB DESIGN</h4>
            <p>The first line of Lorem Ipsum,
               "Lorem ipsum dolor sit amet..",
               comes from a line in section 1.10.32.
             </p>

          </div>
          <div class="services__card">
            <div class="services__circle">
              <img src="img/photo.png" alt="mobile apps">
            </div>
            <h4>PHOTOGRAPHY</h4>
            <p>The first line of Lorem Ipsum,
               "Lorem ipsum dolor sit amet..",
               comes from a line in section 1.10.32.
             </p>

          </div>
          <div class="services__card">
            <div class="services__circle">
              <img src="img/marketing.png" alt="mobile apps">
            </div>
            <h4>MARKETING</h4>
            <p>The first line of Lorem Ipsum,
               "Lorem ipsum dolor sit amet..",
               comes from a line in section 1.10.32.
             </p>

          </div>
        </div>

      </div>
    </div>

    <div class="main__clients">
      <div class="wrapper">

        <h1>SOME OF <span class="our-clients__bold--text" >OUR CLIENTS</h1>
        <div class="line"></div>
        <div class="clients">
          <img src="img/lacoste.png" alt="LACOSTE">
          <img src="img/lancome.png" alt="LANCOME">
          <img src="img/zara.png" alt="ZARA">
          <img src="img/chanel.png" alt="CHANEL">
          <img src="img/guerlain.png" alt="GUERLAIN">
        </div>
      </div>
    </div>

    <div class="main__work">
      <div class="wrapper__work">
        <h1>TAKE A LOOK AT <span class="about__right--bold_text">OUR WORK</span></h1>
        <div class="line"></div>
        <p><i>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus ex quidem maiores ullam quis,
           at asperiores minus ad eaque maxime possimus cum ab iusto assumenda velit excepturi porro ipsa tenetur.
            ad eaque maxime possimus cum ab iusto assumenda velit excepturi porro ipsa tenetur.
        </i></p>

        <div class="gallery">
          <div class="row">
            <img src="img/man.png" alt="man">
            <img src="img/man.png" alt="man">
            <img src="img/man.png" alt="man">
            <img src="img/man.png" alt="man">
          </div>
          <div class="row">
            <img src="img/limited.png" alt="limited">
            <img src="img/limited.png" alt="limited">
            <img src="img/limited.png" alt="limited">
            <img src="img/limited.png" alt="limited">
          </div>
          <div class="row">
            <img src="img/smartfon.png" alt="smartfon">
            <img src="img/smartfon.png" alt="smartfon">
            <img src="img/smartfon.png" alt="smartfon">
            <img src="img/smartfon.png" alt="smartfon">
          </div>
        </div>
        <button class="more__works" type="button" name="button">MORE WORKS</button>
      </div>
    </div>

    <div class="main__testimonials">
      <div class="wrapper">
        <h1>OUR CLIENTS' <span class="gray__clients-text">TESTIMONIALS</span></h1>
        <div class="line"></div>
        <p>This book is a treatise on the theory of ethics, very popular during the Renaissance.
           The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in
            section 1.10.32.</p>
            <h4>Dean Martin, <span class="gray__p__italic--text"> CEO Acme Inc.</span></h4>
      </div>
    </div>

    <div class="main__contact">
      <div class="wrapper">
        <h1>CONTACT US</h1>
        <div class="line"></div>
        <p><i>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Doloribus ex quidem maiores ullam quis, at asperiores minus ad
            eaque maxime possimus cum ab iusto assumenda velit excepturi porro
            ipsa tenetur.Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </i></p>

          <div class="form__contact">
            <form action="#">
              <input class="input__form" type="text" placeholder="Name">
              <input class="input__form" type="email" placeholder="Email adress">
              <textarea class="textarea__form" name="name" rows="8" cols="80" placeholder="Message"></textarea>

            </form>
          </div>
      </div>
    </div>

    <footer>
      <div class="row">
        <a href="#"><img src="img/facebook.png" alt=""></a>
        <a href="#"><img src="img/twitter.png" alt=""></a>
        <a href="#"><img src="img/dribbble.png" alt=""></a>
        <a href="#"><img src="img/linkedin.png" alt=""></a>
        <a href="#"><img src="img/google.png" alt=""></a>
      </div>
    </footer>

  </main>



<script src="js/script.js">
</script>
</body>
</html>
